GROQ_API_KEY=your_groq_api_key_here
YELP_API_KEY=your_yelp_api_key_here
PINECONE_API_KEY=your_pinecone_api_key_here
PINECONE_INDEX=your_pinecone_index_name_here
SENTENCE_TRANSFORMER_MODEL=all-MiniLM-L6-v2